/*****************************/


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

header {
    position: absolute;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 200px;
    padding: 20px 10px 10px 10px;
    background-color: #fff;
    -webkit-transition: all 0.4s 0s ease;
    -moz-transition: all 0.4s 0s ease;
    -o-transition: all 0.4s 0s ease;
    transition: all 0.4s 0s ease;
    box-shadow: 0px -13px 20px 0px #000;
}

.headerUp {
    -moz-transform: translate(0px, -100%);
    -webkit-transform: translate(0px, -100%);
    -o-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    transform: translate(0px, -100%);
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

.noTransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.element-item {
    height: 46vw;
    width: 46%;
    margin: 2%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform-origin: 0 0;
    /*    border: 1px solid #000;*/
    border-radius: 5px;
    box-shadow: rgb(100 100 100 / 20%) 0 0 7px 0px;
}

.element-item img {
    height: 102%;
    text-align: center;
    -webkit-transition: transform .25s, visibility .25s ease-in;
    -moz-transition: transform .25s, visibility .25s ease-in;
    -o-transition: transform .25s, visibility .25s ease-in;
    transition: transform .25s, visibility .25s ease-in;
}

.element-item img:hover {
    transform: scale(1.2);
}

.centered {
    display: flex;
    justify-content: center;
    height: 100px;
}

object {
    pointer-events: none;
}

.grid {
    top: 0px;
}

#536 {
    top: 233px;
}


/*************Visitenkarte****************/

.visitenkarte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}


.portrait {
    width: 100%;
    text-align: center;
}

.portrait div {
    background-color: #fff;
}

.portrait img {
    width: 50%;
    border-radius: 50%;
    margin-top: 40px;
}

.textVisit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 5vw;
    color: #000;
    border-bottom-style: outset;
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    background-color: #fff;
}

.textVisit div,
.textVisit p {
    text-transform: none;
    font-size: 1rem;

}

.textVisit h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
}

.textVisit p {
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 3px;
}

.rating {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.visitTitle {
    margin-top: 5px;
    margin-bottom: 10px;
}

.bar,
.bar-bg {
    height: 5px;
    border-radius: 10px;
    background-color: aqua;
}

.bar-bg {
    background-color: #eee;
    width: 100%;
}

.bar {
    background-color: #ea5820;
    opacity: 0.7;
    width: 50%;
}

.visitKachel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 20%) 0 0 20px 0px;
}

.orange {
    background-color: #f9f9f9;
    color: #000;
}

.visitKachel-title {
    box-sizing: border-box;
    text-align: left;
    color: #fff;
    background-color: #ea5820;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f9f9f9;
    border-bottom: 4px solid #ea5820;
    color: #000;
    font-weight: 600;

}


.visitKachel p,
.visitKachel-title {
    padding-left: 20px;
    padding-left: 20px;
}

.fa {
    color: #000;
    font-size: 30px !important;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    margin: 2px;


}

/*************BacktoTop****************/
#backtotop {
    opacity: 0;
    position: fixed;
    top: 10vh;
    right: 4%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: #ea5820;
    border: 1px solid #ea5820;
    width: 48px;
    height: 95px;
    border-radius: 5px;
    z-index: 3;
    align-items: flex-end;
    -webkit-transition: all 0.4s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.4s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.4s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.4s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgb(0 0 0 / 20%) 0 0 13px 6px;
}



#backtotop.bttDown {
    opacity: 1;
    -moz-transform: translate(0px, 15vh);
    -webkit-transform: translate(0px, 15vh);
    -o-transform: translate(0px, 15vh);
    -ms-transform: translate(0px, 15vh);
    transform: translate(0px, 15vh);
}

.bttDown:hover {
    background-color: red;
}

.hidebtt {
    display: none;
    top: -19vh !important;
}

.none {
    display: none !important;
}


/*************Buttons****************/
.button.is-checked {
    color: #ea5820;
    background-color: #000;
}

#leftFilter {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

#rightFilter {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-group,
.backBtn {
    margin: 10px 0px;
}

.btn-group button,
.backBtn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    width: 25%;
    background-color: #fff;
    /* Green background */
    border: 3px solid #000;
    /* Green border */
    color: #000;
    /* White text */
    padding: 10px 0px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}

.backBtn {
    width: 100%;
    text-align: center;
}


/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

/* Add a background color on hover */





.fab {
    z-index: 99;
    width: 60px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 15px 1px #000;
    padding: 0px;
    border-radius: 100px;
    border: none;
    width: 85px;
    height: 85px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;

    font-size: 1.2rem;
    color: #000;
    text-align: center;
    line-height: 70px;
    cursor: alias;
}

.fab.hidden-cv .cv {
    display: none;
}

.fab:not(.hidden-cv) .back {
    display: none;
}

#contactBtn {
    right: 20px;
    bottom: 20px;
}

#journeyBtn {
    left: 20px;
    bottom: 20px;
}

#contactBtn object {
    pointer-events: none;
}

.cv img {
    width: 112%;
    position: relative;
    top: 11px;
    left: -7px
}

/*************Cards****************/

#bothCards {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;

}

.cardsFront {
    position: relative;
    top: 205px;
    width: inherit;
    height: inherit;
    z-index: 9;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardsBack {
    display: flex;
    justify-content: center;
    z-index: 8;
    margin-top: -100vh;
    width: inherit;
    background-color: #555;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}


#bothCards.flip .cardsFront,
#contactBtn.flip {
    z-index: 9;
    -webkit-transform: rotateY(180deg);
    -mox-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    overflow: hidden;
}

#bothCards.flip .cardsBack,
#contactBtn.flip {
    z-index: 10;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    overflow: hidden;

}

/*************Fonts****************/

body {
    color: #000;
}

/***********Web-Gross************/

@media only screen and (min-width: 600px) {

    header {
        display: flex;
        height: 20vh;
        flex-direction: row;
        align-items: center;
        padding: 5%;
        top: 0px;
    }

    #backtotop {
        top: 6vh;
        right: 4%;
        width: 48px;
        height: 95px;
        border-radius: 5px;
    }

    #backtotop.bttDown {
        -moz-transform: translate(0px, 10vh);
        -webkit-transform: translate(0px, 10vh);
        -o-transform: translate(0px, 10vh);
        -ms-transform: translate(0px, 10vh);
        transform: translate(0px, 10vh);
    }

    .hidebtt {
        top: -13vh !important;
    }

    .sticky {
        top: 0px;
    }

    .centered {
        display: block;
        width: 200%;
    }

    .element-item {
        width: 29%;
        height: 29vw;
        margin: 2%;
        box-shadow: 0 0 15px 0px #000;

    }

    .element-item img {
        object-fit: cover;
        width: 100%;
    }

    .cardsFront {
        top: 20vh;
    }

    .cardsBack {
        overflow: inherit !important;
    }

    .fab {
        width: 130px;
        height: 130px;
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 126px;
    }

    .cv img {
        top: 16px;
        left: -14px;
    }


    .back svg {
        width: 50px;
        height: 50px;
    }

    .visitenkarte {
        width: 50vw;
        box-shadow: 0px 0px 11px 0px #000;
        overflow: hidden;
    }

    .btn-group button:hover,
    .backBtn:hover {
        background-color: #eee;
        color: #000;
    }

    .btn-group button:active,
    .btn-group button:focus,
    .backBtn:active {
        background-color: #000;
        color: #fff;
    }


}
